<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<title>Brain tumour</title>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="logo">
        <img src="images/cancer.png" alt="data_analytics">
        <h1>Together we will beat cancer</h1>
        <div class="donate">

            <button><b> Donate</b></button>
        </div>
    </div>
    <hr>
    <div class="navbar">

        <div class="dropdown">
            <button class="dropbtn">Home

            </button>
            <div class="dropdown-content">
                <a href="#about">Our Research</a>
                <a href="#about">About Cancer</a>
                <a href="#about">About Us</a>


            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Predict

            </button>
            <div class="dropdown-content">
                <a href="#file-upload">Defect</a>
                <a href="#file-upload">Prediction</a>
                <a href="#file-upload">Upload</a>

            </div>

        </div>
        <div id="team">
            <a hreaf="#file:///home/student/Desktop/contact-us.html">Team</a>
        </div>
        <div id="contact-us">
            <a hreaf="#contact-us">Contact Us</a>
        </div>



    </div>

    <div class="about_brain-tumour">
        <img src="images/brain1.jpeg">
        <div class="heading">
            <h1>Brain Tumours</h1>

            <p1>Tumours that start in the brain are called primary brain tumours. Tumours can start in any part of the
                brain or related structures. Cancers that have spread to the brain from somewhere else in the body are
                called secondary brain tumours or brain metastases.

                Brain and spinal cord tumours can affect children and adults. </p1>
        </div>


    </div>
    <div class="container">
        <div id="about">

            <h2>What is Brain Tumours ?</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>
        <div id="about">

            <h2>The Brain And Spainal Cord</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>
        <div id="about">

            <h2>Grades of brain and spinal cord tumours</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>

    </div>
    <div class="container">
        <div id="about">
            <h2>Risks and causes of brain tumours </h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>

        </div>
        <div id="about">

            <h2>Symptoms</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>

        </div>
        <div id="about">
            <h2>Types of brain tumours</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>

        </div>
    </div>
    <div class="container">
        <div id="about">
            <h2>Survival </h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>
        <div id="about">

            <h2>Getting Diagnized</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>
        <div id="about">
            <h2>Treatment</h2>
            <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna.</p1>
        </div>
    </div>
    <div class="background">

        <div id="file-upload">
            <input type="file" id="upload-box">


        </div>
    </div>
    <div class="latest_insights">
        <div class="review1">
            <img src="images/scientist1.jpg">
            <div class="person_name">
                <img src="images/user1.jpg">
                <p2><b>Alex Morgon</b></p2>
                <i class="fa fa-folder-o"></i><p2><b>april 30,2020</b></p2>
            </div>
            <h3>Six Ways to Make Smarter<br> Decisions</h3>
        </div>
        <div class="review1">
            <img src="images/scientist2.jpg">
            <div class="person_name">
                <img src="images/user2.jpg">
                <p2><b>Sarah Taylor</b></p2>
                <i class="fa fa-folder-o"></i><p2><b>april 28,2020</b></p2>
            </div>
            <h3>The Challenges to Tackle You<br> Start With AI</h3>
        </div>
        <div class="review1">
            <img src="images/scientist3.jpg">
            <div class="person_name">
                <img src="images/user3.jpg">
                <p2><b>David Warner</b></p2>
                <i class="fa fa-folder-o"></i><p2><b>april 29,2020</b></p2>
            </div>
            <h3>Why Organization Want an<br>Analytic Platform</h3>
        </div>
    </div>
</div>

    <div class="contact-us">
        <div class="footer ">

            <a href="#facebook" class="fa fa-facebook"></a>
            <a href="#twitter" class="fa fa-twitter"></a>
            <a href="#linkedin" class="fa fa-linkedin"></a>
            <a href="#instagram" class="fa fa-instagram"></a>

        </div>
        <h4>For More Info Follow us</h4>
    </div>


    

</body>
<script src="https://kit.fontawesome.com/a6761c511f.js" crossorigin="anonymous"></script>

</html>
